body{
    font-family: "Inter",sans-serif;
}

* {
    margin: 0px;
    padding: 0px;

}
.navbar{
    /* display:flex; */
    /* justify-content: space-between; */
    /* display:flex; */
    /* width: 100%; */
    border:1px solid #E7EAEE;
    background-color: #FFFFFF;
    padding:12px;
}

.mainnav{
    /* width: 100%; */
    display:flex;
    /* gap:8px; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
    
}

.hiddenclass{
    /* width: 100%; */
    display:none;
    /* gap:8px; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.hiddenclass2{
    /* width: 100%; */
    display:none;
    /* gap:8px; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
}



.firstnav{
    /* flex-basis: 50%; */
    display:flex;
    gap:5px;
    border-radius: 36px;
    border:1px solid #E5EAF0;
    padding: 4px;
    background-color: #FFFFFF;
}
.hiddenfirstnav{
    /* flex-basis: 50%; */
    display:none;
    gap:5px;
    border-radius: 36px;
    border:1px solid #E5EAF0;
    padding: 4px;
    background-color: #FFFFFF;
}

.market{
    background-color: #F4EDFA;
    border-radius: 28px;
    padding:8px;
    display: flex;
    gap:6px;
    justify-content: center;
    align-items: center;
}
.scope{
    width: 16px;
    height: 16px;
}

.place{
font-weight: 400;
font-size: 14px;
color:#7A23C0;

}

.risk{
    display: flex;
    gap: 6px;
    padding: 6px;
    justify-content: center;
    align-items: center;
}

.riskletter{
font-weight: 400;
font-size: 14px;
color:#464646;

}
.secondnav{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* .mainnumberdiv{
    position: relative;
} */

.mainnumber{
    padding-top: 1px;
    padding-right: 3px;
    padding-bottom: 1px;
    padding-left: 4px;
    color:white;
    font-weight: 600;
    font-size: 10px;
    /* opacity: 0.1; */
    border: 2px solid #FFFFFF;
    background-color: #2E5EBB;
    border-radius: 11px;
    position: absolute;
    top:7px; 
    left:9.5px;
    /* right: 0px; */
    z-index: 2;
    /* left:9.5px; */
}

.image100{
    width: 24px;
    height: 24px;
    /* position:absolute; */
}

.photos{
    display: flex;
    /* border:1px solid black; */
    justify-content: center;
    align-items: center;
    gap:16px;
}
.photos1{
    display: flex;
    align-items: center;
    gap: 8px;
}
.realimage{
    /* border:1px solid black; */
    width: 40px;
    height: 40px;
}
.sameera{
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:4px;
}

.firstsameera{
    /* border:1px solid black; */
    font-weight: 500;
    font-size: 14px;
    color:#30333B;
}
.bajaj{
    /* border:1px solid black; */
    font-weight: 600;
    font-size: 10px;
    color:#8894A9;
}
.divdownarrow{
    width:16px;
    /* width:max-content; */
    height:16px;
}
.downarrow{
    width:16px;
    height:16px;
}

.mainbox{
    padding: 16px;
    display:flex;
    flex-direction: column;
    gap:24px;
}
.pooldetail{
    display: flex;
    justify-content: space-between;
}
.assignment{
    width:940px !important;
    display:flex;
    flex-direction: column;
    gap:11px;
}
.summadiv{
    font-weight: 500;
    font-size: 14px;
    color: #8894A9;
}
.sp1{

    color:#30333B;
}
.lower{
    display: flex;
    gap:9px;
}
.pooldet{
    display: flex;
    gap:16px;
    /* justify-content: center; */
    align-items: center;
}
.image1{
    width:24px;
    height:24px;
}
.realdetails{
    font-weight: 500;
    font-size: 24px;
    color:#30333B;
}
.submitapp{
    display: flex;
    align-items: center;
    gap:4px;
    background-color: #EDFBFF;
    border:1px solid #B9EDFF;
    border-radius: 20px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
}
.image2{
    width: 16px;
    height: 16px;
}
.submitted{
    color:#0B99FF;
    font-weight: 500;
    font-size: 12px;
}

.subdivreject{
    display: flex;
    /* flex-basis: 100%; */
    gap:16px;
}
.rejection{
    width: 106px;
    height:40px;
    border:1px solid #F64C4C;
    border-radius: 8px;
    /* padding:8px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.rej{
    color:#F64C4C;
    font-weight: 400;
    font-size: 14px;    
}
.acceptence{
    width: 106px;
    height:40px;
    background-color: #7A23C0;
    /* border:1px solid #F64C4C; */
    border-radius: 8px;
    /* padding:8px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.app{
    color:#FFFFFF;
    font-weight: 400;
    font-size: 14px;    
}

.homelone{
    display:flex;
    gap:12px; 
}
.lefthome{
    padding:16px;
    border:1px solid #E7EAEE;
    border-radius: 8px;
}

.insideleft{
    /* padding:16px;
    border:1px solid #E7EAEE;
    border-radius: 8px; */
    width:340px;
    display:flex;
    flex-direction: column;
    gap:12px;
}
.firstbox{
    display: flex;
    flex-direction: column;
    gap:12px;
}
.da{
    display: flex;
    justify-content: space-between;
}

.dadiv{
    width:53px;
    height:20px;
    /* padding-left: 8px;
    padding-right: 8px; */
    display:flex;
    gap:4px;
    /* flex-direction: row; */
    background-color: #BBA52E;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.image3{
    width: 16px;
    height: 16px;
}

.datext{
    font-weight: 500;
    font-size: 12px;
    color:#FFFFFF;
    font-family: Inter;
}
.publish{
    color:#76819A;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;

}
.jun{
    color:#30333B;
    font-weight: 400;
    font-size: 12px;
}
.homeloantext{
    display:flex;
    gap:8px;
    flex-direction: column;
}

.homedetails{
font-weight: 600;
font-size: 20px;
}

.crore1{
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    color:#30333B;
}
.hrdiv{
    border:1px solid #E7EAEE;
}
.secondbox{
    display: flex;
    flex-direction: column;
    gap:24px;
}
.secondbox1{
    display: flex;
    gap:12px;
    /* justify-content: space-between; */
}
.insidesecondbox1{
    flex-basis:50%;
    display:flex;
    flex-direction: column;
    gap:4px;
}
.yields{
    color:#76819A;
    font-weight: 500;
    font-size: 12px;
}
.Coupon{
    color:#30333B;
    font-weight: 500;
    font-size: 16px;
}
.thirdbox{
    display: flex;
    flex-direction: column;
    gap:4px;
}
.thirdupper{
    color:#76819A;
    font-weight: 500;
    font-size: 12px;
}

.thirdlower{
    display:flex;
    gap:12px;
}
.excelfile{
    /* width:50%; */
    flex-basis: 50%;
    display:flex;
    align-items: center;
    gap:4px;
}
.image4{
    width: 20px;
    height: 20px;
}
.filenamexls{
    font-weight: 500;
    font-size: 14px;
    color:#30333B;
}
.viewdownload{
    /* width:50%; */
    flex-basis: 50%;
    /* padding-left: 35px; */
    display: flex;
    justify-content: flex-end;
}
.dummydownload{
    display:flex;
    gap:8px;
}
.realviewdown{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #D9DEE4;
    border-radius: 4px;
    padding: 4px;
}
.writeview{
    font-weight: 400;
    font-size: 14px;
    color:#7A23C0;
}
.downloadsymbol{
    /* width: 24px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #D9DEE4;
    border-radius: 4px;
    /* padding:4px; */
    width: 24px;
}
.image5{
    width: 14px;
    height: 14px;
}

.fourthbox{
    display: flex;
    flex-direction: column;
    gap:13.5px;
}
.firstfourth{
    display: flex;
    justify-content: space-between;
}
.applied{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color:#30333B;
}
.modify{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border:1px solid #D9DEE4;
    border-radius: 4px;
}
.dummymodify{
    display: flex;
    gap:4px;
    align-items: center;
}
.image6{
    width: 14px;
    height: 14px;   
}
.wordmodify{
    font-weight: 400;
    font-size: 14px;
    color:#7A23C0;
}
.secondfourth{
    display: flex;
    flex-direction: column;
    gap:12px;
}
.apply{
    display: flex;
    /* align-content: center; */
    gap:8px;
}
.appliedby{
    display: flex;
    align-items: center;
    color:#76819A;
    font-weight: 500;
    font-size: 12px;
}
.sameera{
    display: flex;
    align-items: center;
    color:#30333B;
    font-weight: 500;
    font-size: 14px;
}
.secondrowfourth{
    display: flex;
    flex-direction: column;
    gap:8px;
}
.firstsecond{
    display: flex;
    gap:8px;
}
.interest{
    display: flex;
    align-items: center;
    color:#76819A;
    font-weight: 500;
    font-size: 12px;
}
.percentage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    background-color: #F6F7F8;
}
.dummypercentage{
    color:#11365A;
    font-weight: 500;
    font-size: 14px;
}

.righthome{
    height:327px;
    /* width:fit-content; */
    display: flex;
    gap:0px;
    flex-direction: column;
    border:1px solid #E4E7EC;
    /* box-shadow: 0px 1px 2px 0px #1018280D; */
    border-radius: 8px;
    /* width:100%; */
    flex-basis: 100%;
}
.locationbar{
    padding: 12px;
    display: flex;
    gap:37px;
    justify-content: space-between;
}
.mainloc{
    /* width:615px;   */
    /* display: flex;
    gap:9.48px; */
    width: 100%;
    border-bottom: 0.79px solid #E1E1E1;
    margin-bottom: 5.1px; 
}
.residue{
    display: flex;
    gap:9.48px;    
    /* margin-bottom: 5.1px;  */
}

.locationdiv{
    display: flex;
    flex-direction:column;
    /* justify-content: space-between; */
    gap:7.9px;

}
.location{
    display: flex;
    width: 89.28888702392578px;
    /* Use padding instead of width */
    justify-content: center;
    align-items: center;
}
.reallocation{
    font-size: 16px;
    font-weight: 500;
    color:#7A23C0;
}
.borderdiv{
    border-bottom: 1.58px solid #7A23C0;
    border-radius: 4.58px;
}

.tenure{
    margin-bottom: 7.9px;
    padding-left: 12.64px;
    padding-right: 12.64px;
}
.realtenure{
    font-weight: 500;
    font-size: 16px;
    color:#8894A9;
}
.realtenure1{
    font-weight: 500;
    font-size: 16px;
    color:#8894A9;
}
.hiddenrealtenure{
    display: none;
    font-weight: 500;
    font-size: 16px;
    color:#8894A9;
}
.charttable{
    width:124px;
    display: flex;
    background-color: #E7EAEE;
    border-radius: 8px;
    padding:2px;
}
.divchart{
    color:#8894A9;
    font-weight: 500;
    font-size: 14px;
    width: 50%;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}
.divtable{
    font-weight: 500;
    font-size: 14px;
    color:#30333B;
    background-color: #FFFFFF;
    border-radius: 7px;
    width: 50%;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}

.tables{
    display:flex;
}


.firstcol{
    display:flex;
    flex-direction: column;
    /* width:87px; */
    flex-basis: 10%;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: #D9DEE4;
    /* height:100%; */
}
.col1{
    height:44px;
    display: flex;
    background-color: #F6F7F8;
    padding-left: 12px;
    align-items: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #D9DEE4;
}
.headerpart{
    color:#6A728B;
    font-weight: 500;
    font-size: 12px;
}
.headerpartmain{
    color:#6A728B;
    font-weight: 500;
    font-size: 12px;
}
.hiddenheaderpart{
    display:none;
    color:#6A728B;
    font-weight: 500;
    font-size: 12px;
}
.headerpart1{
    color:#6A728B;
    font-weight: 500;
    font-size: 12px;
}
.dummyheaderpart{
    display:none;
}
.col2{
    height:44px;
    display: flex;
    /* background-color: #F6F7F8; */
    padding-left: 12px;
    align-items: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #D9DEE4;
}
.displayedcol2{
    height:44px;
    display: flex;
    /* background-color: #F6F7F8; */
    padding-left: 12px;
    align-items: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #D9DEE4;
}
.hiddencol2{
    height:44px;
    display: none;
    /* background-color: #F6F7F8; */
    padding-left: 12px;
    align-items: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #D9DEE4;
}
.col3{
    height:44px;
    display: flex;
    /* background-color: #F6F7F8; */
    padding-left: 12px;
    align-items: center;
}
.displayedcol3{
    height:44px;
    display: flex;
    /* background-color: #F6F7F8; */
    padding-left: 12px;
    align-items: center;
}
.hiddencol3{
    height:44px;
    display: none;
    /* background-color: #F6F7F8; */
    padding-left: 12px;
    align-items: center;
}
.firstdata{
    color:#30333B;
    font-weight: 500;
    font-size: 14px;
}
.secondcol{
    display:flex;
    flex-direction: column;
    /* width:142.60000610351562px; */
    flex-basis:18%;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: #D9DEE4;
}
.specialcol1{
    height:44px;
    display: flex;
    background-color: #F6F7F8;
    padding-right: 12px;
    align-items: center;
    justify-content: flex-end;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #D9DEE4;
    gap:8px;
}
.hashtag{
    width: 24px;
    height:19px;
    border-radius: 4px;
    border:1px solid #FFE585;
    background-color: #FFFBEA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image7{
    width: 8px;
    height: 15px;
}
.specialcol2{
    height:44px;
    display: flex;
    /* width: 100%; */
    /* background-color: #F6F7F8; */
    padding-left: 12px;
    /* justify-content: space-between; */
    align-items: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #D9DEE4;
}
.specialcolnodownboarder{
    height:44px;
    display: flex;
    
    /* background-color: #F6F7F8; */
    padding-left: 12px;
    align-items: center;
    justify-content: flex-end;
}
.insiderupee{
    display: flex;
    width:100%;
    padding-right: 12px;
    justify-content: space-between;
    gap:52.6px;
}
.dummyrupee{
    color:#9FACBB;
    font-weight: 500;
    font-size: 14px;
}

.image8{
    width: 11px;
    height: 15px;
}

.specialcol3{
    height:44px;
    display: flex;
    background-color: #F6F7F8;
    padding-right: 12px;
    align-items: center;
    justify-content: flex-end;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #D9DEE4;
    gap:8px;
}
.percentagesymbol{
    width: 27px;
    height:19px;
    border-radius: 4px;
    border:1px solid #CBD8F2;
    background-color:#F2F5FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col4{
    height:44px;
    display: flex;
    /* background-color: #F6F7F8; */
    padding-right: 12px;
    justify-content: flex-end;
    align-items: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #D9DEE4;
}

.col5{
    height:44px;
    display: flex;
    /* background-color: #F6F7F8; */
    padding-right: 12px;
    justify-content: flex-end;
    align-items: center;
}
.specialcol4{
    height:44px;
    display: flex;
    background-color: #F6F7F8;
    padding-right: 12px;
    align-items: center;
    justify-content: flex-end;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #D9DEE4;
    gap:8px;
}
.secondcol2{
    display:flex;
    flex-direction: column;
    /* width:142.60000610351562px; */
    flex-basis:18%;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #D9DEE4;
}
.specialcol5{
    height:44px;
    display: flex;
    background-color: #F6F7F8;
    padding-right: 12px;
    align-items: center;
    justify-content: flex-end;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #D9DEE4;
    gap:8px;
}
.col6{
    height:44px;
    display: flex;
    /* background-color: #F6F7F8; */
    padding-right: 12px;
    justify-content: flex-end;
    align-items: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #D9DEE4;
}
.col7{
    height:44px;
    display: flex;
    /* background-color: #F6F7F8; */
    padding-right: 12px;
    justify-content: flex-end;
    align-items: center;
}

@media  screen and (max-width:1173px) {
    .homelone{
        /* flex-wrap: wrap; */
        display: block;
    }
    .righthome{
        margin-top:10px;    
    }
    .lefthome{
        flex-basis: 100%;
    }
    .insideleft{
        width:100%;
    }
}

@media screen and (max-width:788px) {
    .mainbox{
        padding:10px;
    }
    /* .percentagesymbol{
        width: 24px;
    } */
    .specialcol4{
        padding-right: 6px;
        gap:4px;
    }
    .specialcol5{
        padding-right: 6px;
        gap:4px;
    }
    .displayedcol2{
        display: none;
    }
    .hiddencol2{
        display: flex;
    }
    .displayedcol3{
        display: none;
    }
    .hiddencol3{
        display: flex;
    }

}

@media screen and (max-width:730px) {
    /* .specialcol4{
        flex-direction: column;
    } */
    .percentagesymbol{
        width: 24px;
    }
    .headerpart1{
        display: none;
    }
    .dummyheaderpart{
        display:inline;
        color:#6A728B;
        font-weight: 500;
        font-size: 12px;
    }
    .rejection{
        width: 96px;
    }
    .acceptence{
        width: 96px;
    }

}

@media screen and (max-width:700px){
    .pooldetail{
        flex-wrap: wrap;
        justify-content: flex-start;
        gap:11px;
    }
    /* .rejectbutton{
        display:flex;
        justify-content: flex-end;
    } */
     .subdivreject{
        flex-basis:100%;
        justify-content: flex-end;
     }
}

@media screen and (max-width:630px) {
    .headerpartmain{
        display: none;
    }
    .hiddenheaderpart{
        display: block;
    }
}

@media screen and (max-width:537px) {
    .locationbar{
        padding: 6px;
        /* gap:10px; */
    }
    .righthome{
        height: 100%;
    }
}
@media screen and (max-width:570px) {
    /* .tables{
        flex-wrap: wrap;
    } */  
    .locationbar{
        flex-direction: column;
        gap:10px;
    }  
}
@media screen and (max-width:505px) {
    .navbar{
        padding:6px;
    }
    .secondnav{
        gap:5px;
    }
    .photos{
        gap:8px;
    }
}

@media screen and (max-width:460px) {
    .navbar{
        padding:3px;
    }
    .market{
        padding:4px;
    }
    .risk{
        padding:4px;
    }
    .tables{
        overflow: scroll;
    }
    .specialcol3{
        padding-left: 12px;
    }
    .specialcol4{
        padding-left: 12px;
    }
    .specialcol5{
        padding-left: 12px;
    }
    .col1{
        padding-right: 12px;
    }
}

@media screen and (max-width:440px) {
    .firstnav{
        display: none;
    }
    .hiddenfirstnav{
        display: flex   ;
    }
    .navbar{
        padding: 6px;
    }
    .secondnav{
        gap:10px;
    }
    .photos{
        gap:10px;
    }
    .market{
        padding: 8px;
    }
    .risk{
        padding:8px;
    }
}
